.btn-lettre {
    background-color: #4c7daf;
    border: 2px solid aliceblue;
    color: white;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 0 4px #999;
    transition: all 0.2s ease;
}

.btn-lettre:hover {
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.btn-lettre:active {
    box-shadow: 0 4px #666;
    transform: translateY(6px);
}